# Ignorar todos los archivos .o (archivos objeto)
*.o

# Ignorar el archivo ejecutable 'steren_manager'
steren_manager

# Ignorar cualquier archivo de texto de prueba o de datos (opcional)
data.txt

# Ignorar archivos de respaldo o temporales de editores
*~
*.swp

# Ignorar los binarios y archivos generados por el compilador
build/

